# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [{
  label: 'Packages'
  submenu: [
    label: 'Circle CI'
    submenu: [
        { label: 'Toggle', command: 'circle-ci:toggle'}
        { label: 'Open',   command: 'circle-ci:open'}
    ]
  ]
}]
